/* html{
    /* background-color: #FDFCEF; */
    /* background-color: #D4D6DD; */
    /* width: 70%; */
    /* align-items: center; */
/* text-
}

.print-bar{
   width: 35%;
    height: 100%;
    background-color:#FDFCEF ;
    align-items: center;
    text-align: center;
    margin: auto;
    border-radius:9px;
    padding: 4px;

}
 input{
    background-color: #DFD4D7;
   width: 95%;
    height: 40px;
    border-radius: 8px;
    border: #D4D6DD;
    outline: none;
}
.main-upper-bar{
    display: flex;
    justify-content: space-between;
}
.complete-tasks{
    margin-left:35px;
    opacity: 0.5;
}
.clear{
    margin-right: 15px;
    opacity: 0.5;
}
hr{
    opacity: 0.5;
    margin-top: -5px;
}
li{
    list-style: none;
}
  .tasks{
      margin-left: -165px;
  } */
  
/* #tnt-size: 13px;
      maotal-tasks {
     margin-bottom: 20px; 
    forgin-left: -180px;
      color: gray;
  }
  #tasks-counter{
      margin-left: -180px;
  } */
  * {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* background-color: #FDFCEF; */
    /* background-color:#D4D6DD; */
  }
 
  #container {
    width: 500px;
    margin: auto;
    background-color: white;
    padding: 5px;
    /* border: 2px solid red; */
  }
  /* #main{
    width: 520px;
    margin: 0 auto;
    /* background-color: red; 
} */
  .search-input{
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 9px;
    width: 220%;
    margin: 0 10px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* border: 1px solid #e5e5e5; */
  }
  ul li {
    padding: 10px;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: inherit;
    align-items: center;
  }
  ul li:hover {
    background: #f3f3f3;
  }
  /* #list input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  } */
  
  #list label {
    position: relative;
    cursor: pointer;
    top: 5px;
  }
/*   
  #list label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #0079bf;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
  } */
  #list input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  #list input:checked + label:before {
    background: #0079bf;
  } 
  #list input:checked + label {
    text-decoration: line-through;
  }
  .delete {
    height: 28px;
      padding: 5px 0px;
      border-radius: 3px;
  }
  .delete:hover {
    background: #f2f2f2;
    cursor: pointer;
  }
  h1 {
    text-align: center;
  }
  .add-task {
    width: 100%;
      outline: none;
      font-size: 15px;
      padding: 11px;
      /* border: 1px solid #f3f3f3; */
      margin-bottom: 3px;
      line-height: 2.2rem;
  }
  #total-tasks {
    margin-bottom: 20px;
    font-size: 13px;
      margin-left: 2px;
      color: gray;
  }
  #search-under{
      display: flex;
         justify-content: space-between;
         background-color: #ffffff;
  }
  #search-under p,i{
    background-color: #ffffff;
  }
  ul li,label,img{
    background-color: #ffffff;
    /* border: 2px solid pink; */

  }
  #total-tasks,#tasks-counter{
    background-color: #ffffff;
  }
  #list :hover{
    background-color: #ffffff;
  }
  .last{
    background-color: #ffffff;
  }
  .last span{
    background-color: #ffffff;
    opacity: 0.6;
  }
  .list-after{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
  }
  hr{
    opacity: 0.5;
  }
  #hello{
    background-color: #ffffff;
width:468px;
/* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    /* margin-left: 100px; */
  }
  #hello img{
   background-color:  #ffffff;
  }
  #search-bar{
    height: 50px;
    background-color: #DFD4D7;
    display: flex;
    /* width: 450px; */
    align-items: center;
    /* justify-content: space-between; */
    padding-left:10px;
    border-radius:9px ;
  }

  

  /* #search-bar i{ */
    /* position: absolute; */
    /* top: 35px; */
    /* margin-left: 6px; */
    /* right: 610px; */
  /* } */
  /* #search-bar input{ */
    /* position: relative; */
    /* left: 20px; */
  /* } */